[submodule "condor/utils/python_tools_raw"]
	path = condor/utils/python_tools_raw
	url = https://bitbucket.org/maxhantke/python_tools.git
[submodule "condor/utils/icosahedron"]
	path = condor/utils/icosahedron
	url = https://github.com/ekeberg/icosahedron.git
[submodule "condor/utils/nfft"]
	path = condor/utils/nfft
	url = https://github.com/ekeberg/pynfft.git
