.DS_Store
**/*.pyc
**/*.cxi
**/*.confout
**/*.pdbout
**/*.png
**/#*
**/.#*
**/.ipynb_checkpoints
**/*~
tests/example_out
tests/example_out/*
tests/ensemble_out
tests/ensemble_out/*
build
docs/_build
examples/configfile/particle_sphere
examples/configfile/particle_spheroid
examples/configfile/particle_map
examples/configfile/particle_molecule
examples/configfile/particle_atoms
condor.egg-info
dist
*.pdb
*.map
*.tar.gz
*.h5
venv
*.ipynb