[submodule "penguin/utils/icosahedron"]
	path = penguin/utils/icosahedron
	url = ssh://davinci.icm.uu.se/home/ekeberg/git-repos/icosahedron.git
[submodule "penguin/utils/nfft"]
	path = penguin/utils/nfft
	url = ssh://davinci.icm.uu.se/home/ekeberg/git-repos/pynfft.git
[submodule "penguin/utils/python_tools_raw"]
	path = penguin/utils/python_tools_raw
	url = https://maxhantke@bitbucket.org/maxhantke/python_tools.git
